# Core ML
tensorflow==2.10.0
numpy==1.24.4
scikit-learn==1.3.2
matplotlib==3.8.4
seaborn==0.13.2
joblib==1.4.2
# protobuf==3.20.*  # Uncomment if TensorFlow needs it

# Web App (Flask)
Flask==2.3.2
gunicorn==20.1.0           
Pillow==10.3.0
werkzeug==2.3.4            

# MLflow + Model Registry
mlflow==2.3.0
